PyQt6
opencv-python
rapidocr-onnxruntime
Pillow
ultralytics
torch
torchvision
pyqtgraph
matplotlib
numpy
openai
paddleocr
paddlepaddle
harvesters
fastapi
uvicorn
python-multipart
fast-plate-ocr[onnx]
